# Database — MySQL 8
DB_URL=jdbc:mysql://mysql:3306/notification_events_api?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=cobre
DB_PASSWORD=cobre_pass
DB_ROOT_PASSWORD=root_pass
DB_NAME=notification_events_api

# App
LOG_LEVEL=INFO
